# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Ably
NEXT_PUBLIC_ABLY_KEY_ID=
ABLY_API_KEY=

# Livepeer
LIVEPEER_API_KEY=
LIVEPEER_WEBHOOK_SECRET=

# App
NEXT_PUBLIC_SITE_URL=http://localhost:3000
WORKER_SHARED_SECRET=

# Worker
SUPABASE_STORAGE_BUCKET_VIDEOS=videos
SUPABASE_STORAGE_BUCKET_THUMBNAILS=thumbnails
SUPABASE_STORAGE_BUCKET_AUDIO=audio
SUPABASE_STORAGE_BUCKET_HLS=hls
